ul {
    list-style-type: none;
    text-align: center
  
  }
  
  li {
    background-color:rgb(46, 224, 46) #e75811;
    display: inline;
    margin-right: 10px;
  }
  
  a {
    color: black;
    padding: 0 4px;
    text-decoration: none;
  }
  
  li :hover {
    background-color: white;
    color: #D7C8B6;
  }

.next{
  background-color: blue;
  color: white;
  
}
.prev {
  background-color: blue;
  color: white;
  
}