.titleDetail{
    color: #ffd819
}

.pdescription {
    color: white;
}

.prating{
    color: white;
}

.pgeneros{
    color: white;
}

.platf{
    color: white;
}

.preleased{
    color: white;
}
.buttondelete{
    background-color: white;
}